build --spawn_strategy=standalone
build --cxxopt "-Werror"
build --cxxopt "-Wno-unused-variable" 
build --cxxopt "-Wno-macro-redefined" 
build --cxxopt "-std=c++2a"
build --cxxopt "-fdiagnostics-absolute-paths" 
build --jobs 10
build --verbose_failures


