build  --ignore_unsupported_sandboxing 
build --cxxopt "-Werror"
build --cxxopt "-Wno-unused-variable" 
build --cxxopt "-std=c++14" 
build --show_progress_rate_limit -1
build --jobs 10
build --cxxopt "-U_FORTIFY_SOURCE"
build --symlink_prefix=.bazel/
build --ram_utilization_factor=45
